<h1>Lista wykonawców<% if !params[:l].nil? %> [<span class="uppercase"><%= params[:l] %>]</span><% end %></h1>

<%= artist_menu_letters(params[:l]) %>

<%= render :partial => "artists/list", :object => @artists %>

<%= artist_menu_letters(params[:l]) %>

<div class="admin">
<%= link_to 'Dodaj wykonawcę', new_artist_path %>
</div>