<ul class="elemlist">
<% object.each do |album| %>
	<li class="elem">
		<a class="cover" href="<%= album_path(album, :html) %>">
			<%= image_tag album.image.url(:small) %>
			<span></span>
		</a>
		<ul class="info">
			<li><%= link_to album.artist.name + " - " + album.name, album_path(album, :html) %></li>
			<% if !album.label.name.empty? %><li>Wytwórnia: <%= link_to album.label.name, album.label %></li><% end %>
			<% if album.release_date? %><li><% if album.released? %>Data<% else %>Planowana data<% end %> wydania: <%= album.premiere %></li><% end %>
		</ul>
		<% if admin? %>
		<ul class="admin">
			<li>Admin: <%= link_to 'Edytuj', edit_album_path(album) %>, <%= link_to 'Usuń', album, :confirm => 'Na pewno?', :method => :delete %></li>
		</ul>
		<% end %>
	</li>
<% end %>
</ul>