<ul class="elemlist">
<% object.each do |artist| %>
	<li class="elem">
		<a class="frame" href="<%= artist_path(artist, :html) %>">
			<%= image_tag artist.image.url(:small) %>
			<span></span>
		</a>
			<ul class="info">
				<li><%= link_to artist.name, artist_path(artist, :html) %></li>
				<li>Albumów: <%= artist.albums.count %></li>
			</ul>
		<% if admin? %>
		<div class="admin">Admin: <%= link_to 'Edytuj', edit_artist_path(artist) %> |
			<%= link_to 'Usuń', artist, :confirm => 'Na pewno?', :method => :delete %>
		</div>
		<% end %>  
	</li>
<% end %>
</ul>