<ul class="elemlist">
<% object.each do |label| %>
	<li>
		<a href="<%= label_path(label, :html) %>"><%= image_tag label.image.url(:small) %></a>
			<ul class="info">
				<li><%= link_to label.name, label_path(label, :html) %></li>
				<li>Strona: <%= label.website %></li>
				<% if label.albums.count > 0 %><li>Wydanych albumów: <%= label.albums.count %></li><% end %>
			</ul>
  	<% if admin? %>
			<div class="admin">Admin: <%= link_to 'Edytuj', edit_label_path(label) %> |
				<%= link_to 'Usuń', label, :confirm => 'Na pewno?', :method => :delete %>
			</div>
		<% end %>
	</li>
<% end %>
</ul>