<div class="box50 left">
	
<h1>Witaj na hhbd.pl</h1>	
<p>Witamy na stronie o polskim hip-hopie! Piąty element, wiedza. U nas znajdziesz wszystko czego szukasz o polskim hip-hopie. Recenzje, traklisty albumów, informacje o premierach, profile wykonawców, listy wydanych płyt przez poszczególne wytwórnie, aktualne newsy, teksty piosenek i wiele innych. Zarejestruj się, będziesz miał dostęp do wielu dodatkowych opcji oraz możliwość brania udziału w konkursach!</p>
	
<!-- <div class="left w100p mb10">
<h3>Wykonawcy:</h3> <%= artist_menu_letters("smaller") %>
<h3>Albumy:</h3> <%= album_menu_letters("smaller") %>
<h3>Wytwórnie:</h3> <%= label_menu_letters("smaller") %>
</div> -->

<h1>Newsy</h1>
<%= render :partial => "articles/list", :object => Article.all(:order => 'created_at desc', :limit => 6) %>
	<% if admin? %>
	<ul class="admin">
		<li>Admin: <%= link_to 'New article', new_article_path %></li>
	</ul>
	<% end %>
	
</div>


<div class="box50 left">
<h1>Ostatnio wydane albumy</h1>
<%= render :partial => "albums/list", :object => Album.recent(3) %>
</div>

<div class="box50 left">
<h1>Najbliższe premiery polskich albumów</h1>
<%= render :partial => "albums/list", :object => Album.incoming(3) %>
</div>