<h1><%=h @song.name %></h1>

<div id="brief">
	<h2 class="hide">Informacje podstawowe</h2>
	
	<ul class="essential">
		<% if @song.length > 0 %><li>Czas trwania: <%= convert_seconds_to_time(@song.length) %></li><% end %>
	</ul>
	
	<ul class="additional">
		<li class="hide">W chcęliście: <%= @song.created_at %></li>
		<li class="hide">W kolekcji: <%= @song.created_at %></li>
		<li>Dodany: <%= @song.created_at.strftime('%d %B %Y') %></li>
		<li>Dodany przez: <%= @song.creator.login %></li>
		<% if admin? %>
			<% if !@song.updated_at.nil? %><li>Ostatnio edytowany: <%= @song.updated_at.strftime('%d %B %Y') %></li><% end %>
			<% if !@song.editor.blank? %><li>Ostatnio edytowany przez: <%= @song.editor.login %></li><% end %>
			<li>Wyświetleń: <%= @song.viewed %></li>
		<% end %>
	</ul>
</div>

<div id="main">
	<h2>Na albumach</h2>
	<%= render :partial => "albums/list", :object => @song.albums %>
<% if @song.description.nil? %>
	<h2>Tekst</h2>
	<div class="info"><%=h @song.description %></div>
<% end %>
	
	<h2 class="hide">Komentarze</h2>
	<ul id="comments" class="hide">
		<li>pierwszy</li>
		<li>drugi</li>
		<li>trzeci</li>
	</ul>
</div>

<% if admin? %>
	<div class="admin">
		<%= link_to 'Edytuj utwór', edit_song_path(@song) %>
	</div>
<% end %>