<h1>Listing band_memberships</h1>

<table>
  <tr>
    <th>Artist</th>
    <th>Band</th>
    <th>Joined</th>
    <th>Left</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th>Status</th>
  </tr>

<% @band_memberships.each do |band_membership| %>
  <tr>
    <td><%=h band_membership.artist_id %></td>
    <td><%=h band_membership.band_id %></td>
    <td><%=h band_membership.joined %></td>
    <td><%=h band_membership.left %></td>
    <td><%=h band_membership.created_by %></td>
    <td><%=h band_membership.updated_by %></td>
    <td><%=h band_membership.status %></td>
    <td><%= link_to 'Show', band_membership %></td>
    <td><%= link_to 'Edit', edit_band_membership_path(band_membership) %></td>
    <td><%= link_to 'Destroy', band_membership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New band_membership', new_band_membership_path %>