<p>
  <b>Artist:</b>
  <%=h @band_membership.artist_id %>
</p>

<p>
  <b>Band:</b>
  <%=h @band_membership.band_id %>
</p>

<p>
  <b>Joined:</b>
  <%=h @band_membership.joined %>
</p>

<p>
  <b>Left:</b>
  <%=h @band_membership.left %>
</p>

<p>
  <b>Created by:</b>
  <%=h @band_membership.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%=h @band_membership.updated_by %>
</p>

<p>
  <b>Status:</b>
  <%=h @band_membership.status %>
</p>


<%= link_to 'Edit', edit_band_membership_path(@band_membership) %> |
<%= link_to 'Back', band_memberships_path %>