<div id="menu">
	<% form_tag search_path, :method => :get do %>
	<fieldset>
	  <%= text_field_tag :q %>
	  <%= submit_tag "Szukaj &rarr;", :name => nil  %>
	</fieldset>
	<% end %>	
	<ul>
		<li><%= link_to 'Utwory', songs_path  %></li>
		<li><%= link_to 'Wytwórnie', labels_path %></li>
		<li><%= link_to 'Albumy', albums_path %></li>
		<li><%= link_to 'Wykonawcy', artists_path %></li>
		<li><%= link_to 'Strona główna', "/" %></li>
	</ul>
</div>